﻿@model VoDucTri_2180605111_WebsiteBanHang.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
ViewData["Title"] = "Add Product";
}
<style>
    .btn {
        background-color: cyan;
        border-radius: 10px;
    }
    h2 {
        text-align: center; /* Căn giữa tiêu đề */
        color: black; 
    }
</style>
<h2>Add Product</h2>
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories"
                class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Product Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</form>