﻿@model IEnumerable<VoDucTri_2180605111_WebsiteBanHang.Models.Product>
@{
    ViewData["Title"] = "Index";
}
<style>
    h2 {
        text-align: center; /* Căn giữa tiêu đề */
        background-color: red;
        color: black; 
    }
</style>
<h2>Products</h2>
<p>
    <a class="btn btn-primary" asp-action="Add">Add</a>
</p>
<div style="overflow-y: auto; max-height: 400px;">
    <!-- Đặt chiều cao tối đa cho phần tử chứa bảng -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(product.ImageUrl))
                        {
                            <img src="@product.ImageUrl" alt="Product Image" style="max-width: 150px;" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td>@(product.Category != null ? product.Category.Name : "No Category")</td>
                    <td>
                        <a class="btn btn-info" asp-action="Display" asp-route-id="@product.Id"><i class="fas fa-eye"></i> View</a> |
                        <a class="btn btn-warning" asp-action="Update" asp-route-id="@product.Id"><i class="fas fa-edit"></i> Edit</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id"><i class="fas fa-trash-alt"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
