﻿@model VoDucTri_2180605111_WebsiteBanHang.Models.Product
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Edit Product";
}

<style>
    .btn {
        background-color: cyan;
        border-radius: 10px;
    }
    h2 {
        text-align: center; /* Căn giữa tiêu đề */
        color: black; 
    }
</style>
<h2>Edit Product</h2>
<form asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Category</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
            <option value="">-- Select Category --</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label">Product Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control" />
        <img id="previewImage" src="#" alt="Preview Image" style="max-width: 200px; display: none;" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Display" asp-route-id="@Model.Id" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    <script>
        document.getElementById('ImageUrl').addEventListener('change', function (event) {
            var output = document.getElementById('previewImage');
            output.style.display = 'block';
            output.src = URL.createObjectURL(event.target.files[0]);
        });
    </script>
}