﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my Website</title>
    <style>
        .welcome-section {
            background-color: red;
            color: white;
            padding: 20px; /* Thêm padding để tạo khoảng cách giữa nền và chữ */
        }
    </style>
</head>
<body>
    <div class="text-center welcome-section">
        <h1 class="display-4">Welcome to my Website</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>
</html>
