﻿@model VoDucTri_2180605111_WebsiteBanHang.Models.Category
@{
    ViewData["Title"] = "Add Category";
}
<style>

    h2 {
        text-align: center; /* Căn giữa tiêu đề */
        color: black;
    }
</style>
<h2>Add Category</h2>

<form method="post" asp-action="Add" class="mt-3">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>