﻿@model IEnumerable<VoDucTri_2180605111_WebsiteBanHang.Models.Category>
@{
    ViewData["Title"] = "Index";
}
<style>

    h2 {
        text-align: center; /* Căn giữa tiêu đề */
        background-color: red;
        color: black;
    }
</style>
<h2>Categories</h2>
<p>
    <a class="btn btn-primary" asp-action="Add">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <a class="btn btn-info" href="@Url.Action("Update", "Category", new { id = category.Id })"><i class="fas fa-edit"></i> Sửa</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Category", new { id = category.Id })"><i class="fas fa-trash-alt"></i> Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>